<header>
    <div class="nav-logo" routerLink="/">
        <img src="assets/logo.png" alt="App Logo">
        <h1>AnimeCat</h1>
    </div>

    <app-searchbar class="desktop-search"></app-searchbar>

    <nav class="nav-sect">
        <button class="nav-link">
            <mat-icon>apps</mat-icon>
            Catalogue
        </button>
        <button class="nav-link">
            <mat-icon>swipe</mat-icon>
            Swipe
        </button>
        <button class="nav-link">
            <mat-icon>person</mat-icon>
            Profil
        </button>
        <app-button variant="primary" size="md" label="Se connecter" routerLink="/sign"></app-button>
    </nav>

    <button matIconButton class="menu-button" (click)="showMenu = !showMenu">
        <mat-icon>menu</mat-icon>
    </button>
</header>

@if (showMenu) {
<div class="mobile-menu">
    <app-searchbar [format]="'mobile'" class="mobile-search"></app-searchbar>
    <div class="flex">
        <div class="mobile-links">
            <button class="nav-link">
                <mat-icon>apps</mat-icon>
                Catalogue
            </button>
            <button class="nav-link">
                <mat-icon>swipe</mat-icon>
                Swipe
            </button>
            <button class="nav-link">
                <mat-icon>person</mat-icon>
                Profil
            </button>
        </div>
        <app-button variant="primary" size="sm" label="Se connecter" routerLink="/sign"></app-button>
    </div>
</div>
}