<app-header></app-header>

<div class="swipe-page">
    <main class="swipe-main">
        @if (isLoading()) {
        <div class="loading-sect">
            <mat-spinner></mat-spinner>
            <p class="loading">Chargement...</p>
        </div>
        }

        @if (!isLoading() && currentAnime) {
        <div class="card" cdkDrag cdkDragBoundary=":host" (cdkDragEnded)="onCardDragEnded($event)">
            <div class="card-media">
                <img [src]="cover(currentAnime)" alt="{{ currentAnime.title }}"
                    (error)="$any($event.target).src = 'assets/img/placeholder.webp'" />
            </div>

            <div class="card-body">
                <h3 class="title">{{ currentAnime.title }}</h3>
                <p class="sub">{{ currentAnime.rating }} • {{ currentAnime.episodes || '?' }} épisodes</p>
                <p class="genres">{{ genresLabel(currentAnime) }}</p>
                <p class="synopsis">{{ currentAnime.synopsis }}</p>
            </div>

            <div class="controls">
                <app-button [icon]="'heart_broken'" [swipe]="true" (click)="dislike()"></app-button>
                <app-button [icon]="'visibility'" [swipe]="true" (click)="skip()"></app-button>
                <app-button [icon]="'favorite'" [swipe]="true" (click)="like()"></app-button>

                <app-button class="undo" [icon]="'undo'" [swipe]="true" (click)="undo()"
                    [disabled]="historyLength === 0"></app-button>

                <app-button class="info" [icon]="'info_i'" [swipe]="true" (click)="infoVisible.set(true)"></app-button>

            </div>
        </div>
        }

        @if (!isLoading() && !currentAnime) {
        <div class="empty">Aucun anime disponible.</div>
        }
    </main>
</div>
<div id="info-popup" class="overlay" [style.display]="infoVisible() ? 'flex' : 'none'" (click)="infoVisible.set(false)">
    <div class="info-sect">
        <p class="info-title">AnimeCat est une application de découverte d'animes. Faites glisser les cartes pour
            indiquer vos
            préférences et découvrez de nouveaux animes adaptés à vos goûts!</p>
        <p class="info-sub">Swipez vers la droite pour aimer, vers la gauche pour ne pas aimer, et vers le haut pour
            passer.
            Vous pouvez également annuler votre dernière action en appuyant sur le bouton "Undo".</p>

        <app-button class="info-btn" [label]="'Compris !'" (click)="infoVisible.set(false)"></app-button>
    </div>
</div>