<article class="anime-card" [routerLink]="['/detail', anime()?.mal_id]">
  <img [src]="cover()" alt="{{ anime()?.title }}" />

  <div class="anime-card-body">
    <div class="anime-rating">
      @if (anime()?.score) {
        <span class="score">★ {{ anime()?.score }}</span>
      }
      <span class="type-badge">{{ anime()?.type }}</span>
    </div>

    <div class="anime-card-title">
      <h3>
        {{ title() | slice: 0 : 32 }}
        @if (title().length > 32) {
          ...
        }
      </h3>
    </div>

    <div class="genre-sect">
      <span class="genre-name">{{ genresShort(2) }}</span>
    </div>

    <div class="actions-buttons">
      <app-anime-actions [animeId]="anime()?.mal_id" [status]="visibleStatus()"></app-anime-actions>
    </div>
  </div>
</article>
