<app-header></app-header>
<div class="home">
    @if (isLoading()) {
    <div class="loading-sect">
        <mat-spinner></mat-spinner>
        <p class="loading">Chargement...</p>
    </div>
    }

    @if (!isLoading()) {
    <!-- HERO -->
    @if (heroAnime) {
    <section class="hero">
        <div class="hero-content">
            <h1>{{ title(heroAnime) }}</h1>

            <div class="meta">
                <span class="rating">{{ heroAnime.score || 'N/A' }}</span>
                <span>{{ genres(heroAnime) }}</span>
            </div>

            <p class="synopsis">
                {{ heroAnime.synopsis | slice:0:180 }}...
            </p>

            <div class="hero-buttons">
                <app-button [label]="'Plus d\'infos'" [size]="'md'"></app-button>
                <app-button [label]="'A regarder'" [size]="'md'" [variant]="'ghost'"></app-button>
            </div>

        </div>

        <div class="hero-image">
            <img [src]="cover(heroAnime)" />
        </div>

        <button class="nav prev" (click)="prevHero()">‹</button>
        <button class="nav next" (click)="nextHero()">›</button>
    </section>
    }

    @if(trending().length) {
    <!-- TENDANCES -->
    <section class="section">
        <h2>Tendances</h2>

        <div class="carousel">
            @for (anime of trending(); track anime.mal_id) {
            <div class="card">
                <img [src]="cover(anime)" />
                <div class="card-info">
                    <h3>{{ title(anime) }}</h3>
                    <p>{{ genres(anime) }}</p>
                </div>
            </div>
            }
        </div>
    </section>
    }

    @if(popular().length) {
    <!-- POPULAIRES -->
    <section class="section">
        <h2>Les plus populaires</h2>

        <div class="carousel">
            @for (anime of popular(); track anime.mal_id) {
            <div class="card">
                <img [src]="cover(anime)" />
                <div class="card-info">
                    <h3>{{ title(anime) }}</h3>
                    <p>{{ genres(anime) }}</p>
                </div>
            </div>
            }
        </div>
    </section>
    }
    }
</div>