<app-header></app-header>
<div class="home">
  @if (isLoading()) {
    <div class="loading-sect">
      <mat-spinner></mat-spinner>
      <p class="loading">Chargement...</p>
    </div>
  }

  @if (!isLoading()) {
    <!-- HERO -->
    @if (heroAnime) {
      <section class="hero">
        <div class="hero-content">
          <h1>{{ title(heroAnime) }}</h1>

          <div class="meta">
            <span class="rating">{{ heroAnime.score || 'N/A' }}</span>
            <span>{{ genres(heroAnime) }}</span>
          </div>

          <p class="synopsis">{{ heroAnime.synopsis | slice: 0 : 180 }}...</p>

          <div class="hero-buttons">
            <app-button
              [label]="'Plus d\'infos'"
              [size]="'md'"
              routerLink="detail/{{ heroAnime.mal_id }}"
            ></app-button>
            <app-button
              [icon]="heroAnime.userStatus === 'plan_to_watch' ? 'bookmark_added' : 'bookmark_add'"
              [label]="'A regarder'"
              [size]="'md'"
              [variant]="heroAnime.userStatus === 'plan_to_watch' ? 'primary' : 'ghost'"
              (click)="toggleStatus(heroAnime.mal_id, 'plan_to_watch')"
            ></app-button>
            <app-button
              [icon]="heroAnime.userStatus === 'seen' ? 'visibility_off' : 'visibility'"
              [size]="'md'"
              [variant]="heroAnime.userStatus === 'seen' ? 'primary' : 'ghost'"
              (click)="toggleStatus(heroAnime.mal_id, 'seen')"
            ></app-button>
          </div>
        </div>

        <div class="hero-image">
          <img [src]="cover(heroAnime)" />
        </div>

        <button class="nav prev" (click)="prevHero()">‹</button>
        <button class="nav next" (click)="nextHero()">›</button>
      </section>
    }

    @if (trending().length) {
      <!-- TENDANCES -->
      <section class="section">
        <h2>Tendances</h2>

        <div class="carousel">
          @for (anime of trending(); track anime.mal_id) {
            <app-anime-card [anime]="anime"></app-anime-card>
          }
        </div>
      </section>
    }

    @if (popular().length) {
      <!-- POPULAIRES -->
      <section class="section">
        <h2>Les plus populaires</h2>

        <div class="carousel">
          @for (anime of popular(); track anime.mal_id) {
            <app-anime-card [anime]="anime"></app-anime-card>
          }
        </div>
      </section>
    }
  }
</div>
