$dark-blue: #02212B;
$blue-grey: #7BA6B4;
$blue: #32697C;
$white: #FFFFFF;
$danger: #dd391c;

$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;

$padding-sm: 6px 12px;
$padding-md: 10px 20px;
$padding-lg: 14px 28px;

$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;